|===
|Path|Type|Required|Description

{{#fields}}

  |{{path}}

  |{{type}}

ifeval::["{{optional}}" == "false"]
  |true
endif::[]
ifeval::["{{optional}}" == "true"]
  |false
endif::[]

  |{{description}}

{{/fields}}

|===
